/*
 * CSS Styles for angryPigs Demo App
 *
 * Copyright 2014, Vancouver Film School
 *
 */
body { background-color:black; }
body,div {
    margin:0;
    padding:0;
    border:none;
    color:#fff;
    background-color: grey;
    font-family: "Helvetica", "Arial";
}
/* Styles for illustrating the example */
a {
    color:#FFF;
    text-decoration:underline;
}
div > * { margin: 10px; }
div {
    position: relative;
    /* background-color: #999; */
    /* border: 1px solid #FFF; */
}
          
/* Styles for the experiment GUI */
.panel {
    font-size:16px;
    position: fixed;
    top:0;
    right:1%;
    width:12%;
    z-index:2;
    background-color: #555;
    padding: 10px;
}

.debug {
    position:absolute;
    background:transparent;
    border:1px dashed red;
    z-index: 6000;    
}

#wrapper {
    position: relative;
    margin: 2em auto;
    width: 1024px;
    height: 768px;
    border: 1px solid black;
    /* Set translateZ to trigger HW acc for CSS3 transforms
    -webkit-transform: translate3d(0,0,1px);
    -o-transform: translate3d(0,0,1px);
    -moz-transform: translate3d(0,0,1px);
    -ms-transform: translate3d(0,0,1px);
    transform: translate3d(0,0,1px); */
    z-index:100;
    background:  white;
}

#game-area {
    position: absolute;
    left: 0;
    top: 0;
    
    width:1024px;
    height:768px;                
                   
    background-color: black;
    
    -webkit-perspective: 1000; 
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 0.1;
    
    z-index:200;
    overflow:hidden;
}
 
#title {
    width: 60px; 
    height: 100px; 
    
    background-image:url("../images/crate1.jpg");
    background-size:100% 100%;
    
    -webkit-transform: translate(847px, 486px) rotate(22deg);
    transform: translate(847px, 486px) rotate(22deg);
}

#about-nav {
    width: 100px; 
    height: 200px;

    background-image:url("../images/strong-box.jpg");
    background-size:100% 100%;
     
    -webkit-transform: translate(720px, 360px) rotate(68deg);
    transform: translate(720px, 360px) rotate(68deg);
}

#pixels {
    width: 400px; 
    height: 150px;
     
    background-image:url("../images/strong-box.jpg");
    background-size:100% 100%;
     
    -webkit-transform: translate(490px, 250px) rotate(0deg);
    transform: translate(490px, 250px) rotate(0deg);
}

#game-map {
    width: 10em;
    height: 10em;
}

.cell {
    width: 30px;
    height: 30px;
    background-color: deepskyblue;
    margin: 2px;
    border: 1px solid black;
}

canvas {    
    width: 980px;
    height: 720px;
}

.orchard {
    background-image: url("../images/apple_orchard_by_matty4z-d60qsj1.png");
    background-size: 100% 100%;
}